$item-color: rgba(16, 16, 16, 0.95);
$item-font-size: 14px;

$item-bg: #fafafa;
$item-bg-hover: #ea80fc;
$item-bg-disabled: rgba(168, 168, 168, 0.7);
$item-bg-selected: #40c4ff;
$item-bg-highlighted: #ffea00;

$item-height: 34px;
$item-padding: 10px;
$item-margin: 4px 2px;
$item-border-radius: 2px;

.table-item {
  position: relative;
  box-sizing: border-box;
  display: block;
  margin: var(--tts-table-item-margin, $item-margin);
  font-size: var(--tts-table-item-font-size, $item-font-size);
  padding: var(--tts-table-item-padding, $item-padding);
  height: var(--tts-table-item-height, $item-height);
  border-radius: var(--tts-table-item-border-radius, $item-border-radius);
  background-color: var(--tts-table-item-background-color, $item-bg);
  color: var(--tts-table-item-color, $item-color);
}

.table-item:hover {
  cursor: pointer;
  background-color: var(
    --tts-table-item-hover-background-color,
    $item-bg-hover
  );
}

.disabled {
  background-color: var(
    --tts-table-item-disabled-background-color,
    $item-bg-disabled
  );
}

.disabled:hover {
  cursor: default;
  background-color: var(
    --tts-table-item-disabled-hover-background-color,
    $item-bg-disabled
  );
}

.selected {
  background-color: var(
    --tts-table-item-selected-background-color,
    $item-bg-selected
  );
}

.highlighted {
  background-color: var(
    --tts-table-item-highlighted-background-color,
    $item-bg-highlighted
  );
}
