$column-padding-top: 30px;
$column-font-weight: bold;

$item-color: rgba(16, 16, 16, 0.95);
$item-font-size: 16px;

$item-bg: transparent;

$item-height: 34px;
$item-padding: 9px 0;
$item-margin: 4px 2px;
$item-border-radius: 2px;

tts-side-column {
  display: inline-block;
  vertical-align: top;
  padding-top: var(--tts-side-column-padding-top, $column-padding-top);
  font-weight: var(--tts-side-column-font-weight, $column-font-weight);
}

.side-item {
  text-align: center;
  box-sizing: border-box;
  margin: var(--tts-side-item-margin, $item-margin);
  font-size: var(--tts-side-item-font-size, $item-font-size);
  padding: var(--tts-side-item-padding, $item-padding);
  height: var(--tts-side-item-height, $item-height);
  border-radius: var(--tts-side-item-border-radius, $item-border-radius);
  background-color: var(--tts-side-item-background-color, $item-bg);
  color: var(--tts-side-item-color, $item-color);
}
