$tooltip-background-color: rgba(222, 222, 222, 0.8);
$tooltip-border-radius: 0 0 4px 4px;
$tooltip-z-index: 1;
$tooltip-padding: 8px;
$tooltip-left: 5%;
$tooltip-width: 90%;
$tooltip-cursor: default;
$tooltip-top: 100%;
$tooltip-text-align: center;
$tooltip-font-weight: bold;

tts-tooltip {
  text-align: var(--tts-tooltip-text-align, $tooltip-text-align);
  position: absolute;
  display: block;
  outline: none;
  top: var(--tts-tooltip-top, $tooltip-top);
  cursor: var(--tts-tooltip-cursor, $tooltip-cursor);
  left: var(--tts-tooltip-left, $tooltip-left);
  width: var(--tts-tooltip-width, $tooltip-width);
  box-sizing: border-box;
  padding: var(--tts-tooltip-padding, $tooltip-padding);
  z-index: var(--tts-tooltip-z-index, $tooltip-z-index);
  font-weight: var(--tts-tooltip-font-weight, $tooltip-font-weight);
  background-color: var(
    --tts-tooltip-background-color,
    $tooltip-background-color
  );
  border-radius: var(--tts-tooltip-border-radius, $tooltip-border-radius);
  white-space: pre-wrap;
}
